In [15]:
import pandas as pd
import numpy as np
from IPython.display import display

In [16]:
user_item_interactions = pd.read_csv(
    "../../tests/test_data/user_item_interactions_30_days.csv", parse_dates=["date"]
)
user_item_interactions_merged = pd.read_csv(
    "../../tests/test_data/user_item_interactions_30_days_merged.csv"
)
user_item_interactions.shape, user_item_interactions_merged.shape

((1827358, 4), (1574881, 3))

In [17]:
display(user_item_interactions.head())
display(user_item_interactions_merged.head())

   user_id    item_id       date  interactions
0  U007714  I00372373 2024-09-08           1.0
1  U007714  I00605528 2024-09-08           1.0
2  U013522  I01182960 2024-09-08           2.0
3  U008840  I01218693 2024-09-08           1.0
4  U002036  I00704228 2024-09-08           1.0

   user_id    item_id  interactions
0  U000003  I00037925           1.0
1  U000003  I00189384           1.0
2  U000003  I00256366           1.0
3  U000003  I00267268           3.0
4  U000003  I00298191           1.0