In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("../tests/test_data/user_item_interactions_30_days.csv", parse_dates=['date'])

In [13]:
df

         user_id    item_id       date  interactions
0        U007714  I00372373 2024-09-08           1.0
1        U007714  I00605528 2024-09-08           1.0
2        U013522  I01182960 2024-09-08           2.0
3        U008840  I01218693 2024-09-08           1.0
4        U002036  I00704228 2024-09-08           1.0
...          ...        ...        ...           ...
1827353  U046399  I00180559 2024-09-30           1.0
1827354  U000088  I00886486 2024-09-30           2.0
1827355  U054497  I01043284 2024-09-30           1.0
1827356  U063148  I00192870 2024-09-30           1.0
1827357  U052762  I00490481 2024-09-30           1.0

[1827358 rows x 4 columns]